LIVEKIT_URL=Value
LIVEKIT_API_KEY=Value
LIVEKIT_API_SECRET=Value

DEEPGRAM_API_KEY=Value

CARTESIA_API_KEY=Value
CARTESIA_VOICE_ID=Value

SPEECHMATICS_API_KEY=Value

ASSISTANT_NAME=Value

ANAM_API_KEY=Value
ANAM_AVATAR_ID=Value


HF_TOKEN=Value